/* Add a white background color */
body {
	background-color: white;
	color: #666565;
	margin: 0;
}

/* Add a padding to intro */
.introduction {
	padding: 100px;
}

/* Add a color and modify font and colors to intro h2 */
.introduction h2 {
	color: #666565;
	text-align: left;
	font-size: 55px;
}

/* Add a color and modify font and colors to intro h3 */
.introduction h3 {
	color: #666565;
	text-align: left;
	font-size: 25px;
}

/* Add a background color to the top navigation */
.topnav {
	background-color: #cddc39;
	overflow: hidden;
  }

/* Align the topnav to the right */
.topnav .link-container {
	float: right;
  }

/* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 25px;
}
  
/* Change the color of links on hover */
  .topnav a:hover {
	background-color: #cddc39;
	color: #666565;
  }
  
/* Add a color to the active/current link */
  .topnav a.active {
	background-color: #cddc39;
	color: white;
  }

/* Add a background color to the footer */
.footer {
	background-color: #cddc39;
	overflow: hidden;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-size: 25px;
  }

/* Homepage 30 Weeks of Coding: Unvisited link */
.weeks:link {
	color: #cddc39;
	text-decoration: none;
  }
  
/* Homepage 30 Weeks of Coding: Visited link */
.weeks:visited {
	color: #cddc39;
	text-decoration: none;
}

/* Homepage 30 Weeks of Coding: Mouse over link */
.weeks:hover {
	color: #cddc39;
	text-decoration: underline;
  }
  
/* Homepage 30 Weeks of Coding: Selected link */
.weeks:active {
	color: #cddc39;
	text-decoration: underline;
  }

/* Learn More About Me: Button styling */
.learnmore {
	border: none;
	color: #666565;
	background-color: #cddc39;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 30px 1px 30px 1px;
	transition-duration: 0.4s;
	cursor: pointer;
}

/* Learn More About Me: Hover */
.learnmore:hover {
	background-color: #cddc39;
	color: #666565;
	border-color: #cddc39;
	outline: 0;
	opacity: 0.7;
}
/* Learn More About Me: Hover */
.learnmore:active {
	background-color: #cddc39;
	color: #666565;
	border-color: #cddc39;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cddc39;
}

/* Learn More About Me: Focus*/
.learnmore:focus {
	background-color: #cddc39;
	color: #666565;
	border-color: #cddc39;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cddc39;
}

/* Change tne font of Contact Me*/
.contactme h2 {
	color: #666565;
	font-size: 35px;
	padding: 20px 0;
}

/* Send: Button styling */
.btn {
	background-color: #666565;
	color: white;
	border: none;
}

/* Send: Hover */
.btn:hover {
	background-color: #cddc39;
	color: white;
	border-color: #666565;
	outline: 0;
	opacity: 0.7;
}

/* Send: Active */
.btn:active {
	background-color: #cddc39;
	color: white;
	border-color: #666565;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cddc39;
}

/* Send: Focus */
.btn:focus {
	background-color: #cddc39;
	color: white;
	border-color: #666565;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cddc39;
}

/* Change the color of links when on focus */
.form-control:focus {
	color: #666565;
	background-color: white;
	border-color: #666565;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cddc39;
  }

/* Change the font of Technologies and modify font and padding */
.technologies h2 {
	color: #666565;
	font-size: 35px;
	padding: 20px 0;
}

/* Change the position to center */
.large-text {
	font-size:60px;
	text-align: center;
	margin: 0 auto;
}

/* Change the font of Projects to gray and modify font and padding */
.projects h2 {
	color: #666565;
	font-size: 35px;
	padding: 20px 0;
}

/* Change the color and font size of email in footer */
.btn-link {
	background-color: #cddc39;
	color: white;
	font-size: 25px;
}

/*Add a color and align the contact form*/
.container.projects .col-sm-6 {
  border: solid #cddc39;
  font-size: 20px;
  min-height: 150px;
  text-align: center;
}

/* Add padding and modify font and colors to intro */
.container {
	padding: 50px 5px;
}

/*Change alignment of the image on the About Me page*/
.container.aboutme img {
	float: left;
	padding: 0 10px 10px 0;
	height: 260px;
	width: 240px;
}

/*Change font and alignment of paragraphs on the About Me page*/
.container.aboutme p {
	font-size: 16px;
	text-align: right;
}

/*Set height of page container*/
.page-container {
	min-height: 500px;
}

/*30 Weeks: set alignment*/
.container-weeks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

/*30 Weeks box: set alignment and colors*/
.week-box {
	/* flex: 0 0 auto; */
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	width: 150px;
	height: 19px;
	border: 1px solid;
	margin: 20px;
	background-color: #cddc39;
	color: #666565;
	text-align: center;
	font-size: 12px;
	border: none;
}

/* 30 Weeks: Hover */
.week-box:hover {
	background-color: #cddc39;
	color: #666565;
	border-color: #cddc39;
	outline: 0;
	opacity: 0.7;
}
/* 30 Weeks: Hover */
.week-box:active {
	background-color: #cddc39;
	color: #666565;
	border-color: #cddc39;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cddc39;
}

/* 30 Weeks: Focus*/
.week-box:focus {
	background-color: #cddc39;
	color: #666565;
	border-color: #cddc39;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #cddc39;
}

/*Center align on Projects page*/
.container projects p {
	text-align: center;
}

/*Center images in on Projects page*/
.container projects img {
	float: center;
	padding: 10px;
	height: auto;
	width: 600px;
}
